<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>  
        <setting name="lazyLoadingEnabled" value="true"/>  
        <setting name="multipleResultSetsEnabled" value="true"/>  
        <setting name="useColumnLabel" value="true"/>  
        <setting name="useGeneratedKeys" value="true"/>  
        <setting name="defaultExecutorType" value="SIMPLE"/>  
        <setting name="defaultStatementTimeout" value="25000"/>  
    </settings>
    <typeAliases>
        <typeAlias type="com.superprince.entity.Menu" alias="Menu" />
        <typeAlias type="com.superprince.entity.DataDict" alias="DataDict" />
        <typeAlias type="com.superprince.entity.Payments" alias="Payments" />
        <typeAlias type="com.superprince.entity.Buget" alias="Buget" />
        <typeAlias type="com.superprince.entity.User" alias="User" />
    </typeAliases>
    <plugins>  
       <plugin interceptor="com.superprince.interceptor.PageInterceptor">
           <property name="databaseType" value="mysql"/>  
       </plugin>  
    </plugins>
</configuration>