<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superprince.mapper.CommonMapper" >
    <resultMap id="datadictResultMap" type="DataDict">
        <id property="id" column="id"/>
        <result property="catalog" column="catalog"/>
        <result property="code" column="code"/>
        <result property="codeName" column="codeName"/>
        <result property="userId" column="userId"/>
    </resultMap>
    <select id="getDatadictList" resultType="list" resultMap="datadictResultMap">
        select * from datadict order by catalog,code
    </select>
    <select id="getDatadictCataList" resultType="list" parameterType="String" resultMap="datadictResultMap">
        select * from datadict where catalog = #{catalog}
    </select>
    <insert id="addDatadictData" parameterType="DataDict" useGeneratedKeys="true">
        insert into datadict(catalog,code,menuName) values (#{catalog},#{code},#{menuName})
    </insert>
    <delete id="delDatadictData" parameterType="String" >
        delete from  datadict where id = #{id}
    </delete>
    <select id="getDatadictDataById" parameterType="String" resultType="DataDict">
        select * from datadict where id = #{id}
    </select>
    <update id="updateDatadictData" parameterType="DataDict">
        update datadict set catalog = #{catalog},code = #{code},menuName = #{menuName}
        where id = #{id}
    </update>

</mapper>